<br>
<h1 class="container text-center"> El Registro fue almacenado con éxito </h1>
<br>
<div class="container">
<table class="table">
  <thead>
  <tr>
    <th scope="col">Detail</th>
    <th scope="col">Category</th>
    <th scope="col">Value</th>
    <th scope="col">Discount</th>
    <th scope="col">Tax</th>
    <th scope="col">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @sale.detail %></td>
    <td><%= @sale.category %></td>
    <td><%= @sale.value %></td>
    <td><%= @sale.discount %></td>
    <td><%= @sale.tax %></td>
    <td><%= @sale.total %></td>
  </tr>
  </tbody>
</table>
</div>